.header {
  padding: 0 20px;
  background: #001529;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title img {
  width: 40px;
  height: 40px;
}

.header-title {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.menu-button {
  font-size: 20px;
  color: white;
}
.avatar-img{
  display: flex;
  align-items: center;
  width: 55%;
  gap: 15px;
}
.avatar-img {
  @media (max-width: 668px) {
    display: none;
  }
}